* {
    box-sizing: border-box;
    font-family: 'Karla',sans-serif;
}

p {
    margin: 0px;
    font-family: 'Inter',sans-serif;
}

h1, h2 {
    margin: 0px;
}


hr {
    margin-left: 0;
    margin-right: 0;
  }

body {
    margin: 0;
}

.app {
    min-width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    min-height: 100vh;
    max-height: min-content;
    background-color: #F5F7FB;
    background-image: url("../images/blob1.png"), url("../images/blob2.png");
    background-repeat: no-repeat;
    background-position: right -50px top -50px, left bottom ;
    background-size: 300px auto;
    background-attachment: fixed;
}

.app--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 20px;
   
}

.app--submit, .app--start-again, .app--difficulty, .modal--button{
    background-color: #4D5B9E;
    font-family: 'Inter',sans-serif;
    border: 0px;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 2px 1px #888888;
    cursor: pointer;

}

.app--start-again {
    margin: 0;
    padding: 15px 25px;
}

.app--difficulty{
    margin-bottom: 10px;
    padding: 5px 10px;
    align-self: flex-end;
    margin-right: 10px;
}

.app--submit{
    margin-top: 25px;
    padding: 20px 30px;
}

.app--score-button-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 40px
}

.app--confetti{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 50;
}

.app--loading{
    position: absolute;
    margin-top: -32px;
    margin-left: -32px;
    top: 50%;
    left: 50%;
}

.quizmode {
    animation: movebg 1s linear;
    -webkit-animation: movebg 1s linear;
    background-position: right -125px top -125px, left -100px bottom -100px ;
}

.welcome{
    max-width: 100%;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #293264;

}

.welcome--button{
    margin-top: 20px;
    width: 193px;
    height: 52px;
    background-color: #4D5B9E;
    border-radius: 20px;
    border: 0px;
    color: white;
    box-shadow: 2px 2px 8px 1px #888888;
    cursor: pointer;

}

.welcome--button:hover, .app--submit:hover, .app--start-again:hover, .app--difficulty:hover, .modal--button:hover{
    box-shadow: none;
}

.welcome--button:active, .app--submit:active, .app--start-again:active, .app--difficulty:active, .modal--button:active{
    box-shadow: inset 0px 0px 10px #c1c1c1;
}

.question{
    width: 100%;
    max-width: 98vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.question--text{
    color: #293264;
    max-width: 600px;
}

.question--answers{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.question--answer-button{
    transition: all 0.3s ease;
    padding: 8px 20px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    min-width: 80px;
    background-color: transparent;
    border: 2px solid #4D5B9E;
    border-radius: 10px;
    color: #293264;
}

.question--answer-button:hover{
    border-color: #D6DBF5;
    background-color: #D6DBF5;
    transition: all 0.3s ease ;
    cursor: pointer;
}

.question--answer-button:active{
    transition: all 0s;
    border-color: #677bec;
    background-color: #677bec;
}

.answer-selected{
    transition: all 0s ease;
    border-color: #D6DBF5;
    background-color: #D6DBF5;
}

.answer-correct{
    transition: all 1s ease 0.4s;
    background-color: #94D7A2 !important;
    border-color: #94D7A2 !important;
}

.answer-wrong{
    transition: all 1s ease;
    background-color: #F8BCBC !important;
    border-color: #F8BCBC !important;    
}

.answer-wrong, .answer-not-selected{
    transition: all 1s ease;
    opacity: 0.5;
}

.modal-bg{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom:0px;
    background-color: rgba(0,0,0,0.25);
}

.modal{
    position: absolute;
    margin-left: -155px;
    margin-top: -75px;
    min-height: 200px;
    min-width: 310px;
    top:50%;
    left: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 2px 4px 2px 1px #888888;
}

.modal--buttons{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    
}

.modal-selected{
    background-color: #16b138;
}

.modal-save{
    width: 75%;
    margin-bottom: 5px;

}

.modal--button{
    padding: 13px 10px;
}


@keyframes movebg {
    from {background-position: right -50px top -50px, left bottom ;} 
    to {background-position: right -125px top -125px, left -100px bottom -100px !important;}
}

@-webkit-keyframes movebg {
    from {background-position: right -50px top -50px, left bottom ;} 
    to {background-position: right -125px top -125px, left -100px bottom -100px !important;}
}


@media screen and (max-width: 768px){
    .app{
        min-width: auto;
    }
    .welcome{
        text-align: center;
    }

    .question--answers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .app--score-button-container{
        gap: 0px;
        margin-bottom: 10px;
    }

    .app--score-text{
        width: max-content;
        padding: 0;     
    }


}